<div>
    {% for image in product.images %}
        {{ image | image_url: width: 300 | img_tag }}
    {% endfor %}
    <h2> Title: {{ product.title }} </h2>
    <h3> Price: {{ product.price }} </h3>
    {% for option in product.options %}
        Product Options: {{ option }} <br>
    {% endfor %}
    
    This is a test:
    {% for option in product.options %}
        {% if option == 'Material' %}
            {% for product_option in product.options_with_values %}
                <li> {{ product_option.name }}: {{ product_option.values }} </li>
            {% endfor %}   
        {% endif %}
    {% endfor %}


</div>

{%- comment -%}
for each product option
    if == Material
        for each product_option.values 
            make a selectable swatch...
    if == Length... 
    if == Ring Size... 
    if == Bracelet Size...
    if == Constellation...
{%- endcomment -%}